<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ImmoGlobal"
      providerName="System.Data.SqlClient"
      connectionString=""/>
    <add name="ImmoGlobalTest"
      providerName="System.Data.SqlClient"
      connectionString=""/>
  </connectionStrings>
</configuration>
