<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ImmoGlobal" connectionString="Data Source=TOWER\SQLEXPRESS; Initial Catalog = ImmoGlobal; Integrated Security = SSPI;"/>
	</connectionStrings>
	<appSettings>
		<add key="SeedDatabase" value="false"/>
		<add key="DropDatabase" value="false"/>
	</appSettings>
</configuration>

